# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore log files
logs_*.log

# Ignore virtual environments
venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Docker build files
*.dockerignore
